
    <!-- <div class="content">
        <div class="container">
            <div class="single-content">
                <h1>le contenu de la plateforme DigitMinCI</h1>
            </div>
        </div>
    </div> -->

<footer class="bg-primary">
        <div class="container" >
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <img src="img/logo.png" alt="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam repellendus sunt praesentium aspernatur iure molestias.</p>
                        <h3>Nos Moyens de Paiement </h3>
                        <div class="card-area">
                            <i class="bi bi-credit-card"></i>
                            <i class="bi bi-mastercard"></i>
                            <i class="bi bi-markdown-fill"></i>
                            <i class="bi bi-cash"></i>
                            <i class="fab fa-cc-mastercard"></i>
                            <i class="bi bi-paypal"></i>
                            <!-- <i class="bi bi-search"></i> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- <div class="single-box">
                        <h2>Hosting</h2>
                        <ul>
                            <li><a href="#">Web Hosting</a></li>
                            <li><a href="#">Cloud Hosting</a></li>
                            <li><a href="#">CMS Hosting</a></li>
                            <li><a href="#">WordPress Hosting</a></li>
                            <li><a href="#">Email Hosting</a></li>
                            <li><a href="#">VPS Hosting</a></li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Adresses</h2>
                        <ul>
                            <li><a href="#">www.digitminci.fr</a></li>
                            <li><a href="#">analysteprodez@gmail.com</a></li>
                            <li><a href="#">josephdez51@gmail.com</a></li>
                            <!-- <li><a href="#">WordPress Domain</a></li>
                            <li><a href="#">Email Domain</a></li>
                            <li><a href="#">VPS Domain</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Newsletter</h2>
                        <p>Voulez-vous êtes à jours des informations sur les demandes d'agrément? Renseigner votre mail</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="votre mail" aria-label="Enter your Email ..." aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-long-arrow-right"></i></span>
                        </div>
                        <h2>Suivez-nous sur </h2>
                        <p class="socials">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-whatsapp"></i>
                            <i class="bi bi-github"></i>
                            <i class="bi bi-twitter"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

