:root {
    --bgcolor: #d39219;
    --fontcolorwhite: #fff;
    --imSize: 60px;
}


/* The navigation bar */

.navbar {
    overflow: hidden;
    /* background-color: #333; */
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}


/* début header */

header {
    height: 50px;
}

.logo-navbar {
    height: var(--imSize);
    width: var(--imSize);
    margin: 0 0 0 20px;
}

.navbar_bgcolor {
    background-color: var(--bgcolor) !important;
    height: 100px;
}

.navbar_bgcolor a:hover {
    text-decoration: underline;
}


/* fin header  */

.titre_banner {
    text-align: center;
    margin-top: 100px;
    color: rgb(250, 243, 243);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}


/* css contenu page */

.img_banner {
    height: 380px;
    width: 269px;
}

.banner {
    background: url(../../../assets/assets/images/apropos.jpg);
    background-color: rgb(46, 90, 200);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}

h1,
h4,
p {
    text-align: center;
    /* color: var(--fontcolor); */
    margin-top: 5px;
    font-family: 'Manrope', sans-serif;
}


/* fin banniere */