  <!-- start section banner -->
<app-menu>
</app-menu>

    <section class="banner">
        <div class="row">
            <div class="col-12">
                <h3 class="titre_banner" >
                    Desormais,  vos demandes d'agrement se font en depensant moins d'energie 
                </h3>
            </div>
        </div>
    </section>
    <!-- end  section banner  -->

    <!-- Debut section presentation contenu  -->

    <div class="container-fluid" >
      <div class="container text-center mt-5 mb-2 ">
        <div class="row ">
          <div class="col-6 ">
            <img class="img_banner " src="../../../assets/assets/images/logo3.jpg " alt=" ">
          </div>
          <div class="col-6 ">
            <h4 class="p-3 m-2 ">Suivez en temps réel l’avancement de chaque demande grâce à un tableau de bord</h4>

            <p> avec les différents acteurs de la filière, vous pilotez toutes les demandes d’agrément sur une plateforme intuitive et accessible en ligne. Vous bénéficiez d’un accès permanent et illimité aux données de chaque sous-traitant.
                        Vous réduisez vos risques en gardant le contrôle des demandes </p>

          </div>

        </div>
      </div>
            <!-- bis contraire  -->

      <div class="container text-center mt-5 mb-2 ">
          <div class="row ">
            <div class="col-6 ">
              <h4 class="p-3 m-2 ">Suivez en temps réel l’avancement de chaque demande grâce à un tableau de bord</h4>

                <p>Conçue avec les différents acteurs de la filière, vous pilotez toutes  les demandes d’agrément sur une plateforme intuitive et accessible en ligne. Vous bénéficiez d’un accès permanent et illimité aux données de chaque sous-traitant.
                            Vous réduisez vos risques en gardant le contrôle des demandes </p>
            </div>
            <div class="col-6 ">

              <img class="img_banner " src="../../../assets/assets/images/apropos3.jpg" alt=" ">

            </div>
          </div>
      </div>


                <!-- bis contraire  2 -->

      <div class="container text-center mt-5 mb-5 ">
            <div class="row ">
              <div class="col-6 ">
                <img class="img_banner " src="../../../assets/assets/images/apropos4.jpg" alt=" ">

              </div>
              <div class="col-6 ">
                <h4 class="p-3 m-2 ">Suivez en temps réel l’avancement de chaque demande grâce à un tableau de bord</h4>

                <p>Conçue avec les différents acteurs de la filière, vous pilotez toutes les demandes d’agrément sur une plateforme intuitive et accessible en ligne. Vous bénéficiez d’un accès permanent et illimité aux données de chaque
                                sous-traitant. Vous réduisez vos risques en gardant le contrôle des demandes </p>

              </div>
            </div>

      </div>
    </div>

<!-- mise d'espace -->
<br><br>
<br><br>

<!-- start footer  -->

    <app-footer>
</app-footer>

<!-- end footer  -->






