  <!-- start section banner -->

  <!-- insertion menu  -->
<app-menu>
</app-menu>

    <section class="banner">
      <div class="row">
        <div class="col-12">
          <h3 class="titre_banner" >
            Desormais ,faitesvos demandes d'agrement en toute tranquilité !
          </h3>
        </div>
      </div>
    </section>
    <!-- end  section banner  -->


    <!-- Debut section presentation contenu  -->


    <!-- debut premier bloc  presentation contenu  -->
    <div class="container-fluid" >
      <div class="container text-center mt-5 mb-2 ">
        <div class="row ">
          <div class="col-6 ">
            <img class="img_banner " src="../../../assets/assets/images/tpsreel1.png " alt=" ">
          </div>
        <div class="col-6 ">
          <h4 class="p-3 m-2 ">Suivez en temps réel l’avancement de chaque demande grâce à un tableau de bord</h4>
            <p> Afin d'aider les différents acteurs du secteur minier , vous avez la possibilité de suivre  toutes vos  demandes d’agrément sur une plateforme intuitive et accessible en ligne. Vous bénéficiez d’un accès permanent et illimité .
                Vous réduisez les temps et les moyens de suivi par appels ou en vous deplaçant</p>
        </div>
      </div>
    </div>
    <!-- debut premier bloc  presentation contenu  -->


<!-- debut deuxième bloc  presentation contenu  -->
    <div class="container text-center mt-5 mb-2 ">
      <div class="row ">
        <div class="col-6 ">
          <h4 class="p-3 m-2 ">Intervenez plus rapidement dans la gestion de votre agrement </h4>
            <p> à travers les messages ou notifications reçu selon les elements constitutifs de votre dossier
               Vous pouvez introduire de nouveaux documents ou mettre votre demande avec d'autres documents</p>
        </div>
      <div class="col-6 ">
        <img class="img_banner " src="../../../assets/assets/images/tpsreel2.png" alt=" ">
    </div>
          </div>
      </div>


<!-- fin  deuxième bloc  presentation contenu  -->

                <!-- bis contraire  2 -->

      <div class="container text-center mt-5 mb-5 ">
            <div class="row ">
              <div class="col-6 ">
                <img class="img_banner " src="../../../assets/assets/images/paiement3.jpg" alt=" ">

              </div>
              <div class="col-6 ">
                <h4 class="p-3 m-2 ">Simplifiez le reglement des frais de demande  grace aux moyens de paiement en ligne</h4>

                <p>En tant qu'entrepreneur, vous faites les demandes d’agrément sur la  plateforme et vous beneficier d'un gain de temps en effectuant le paiement des frais de demande via un moyen de paiement mobile .
                                 </p>

              </div>
            </div>

      </div>
    </div>

<!-- mise d'espace -->
<br><br>
<br><br>

<!-- start footer  -->

    <app-footer>
</app-footer>

<!-- end footer  -->






