/* début header */


/* .logo-navbar {
    height: var(--imSize);
    width: var(--imSize);
    margin: 0 0 0 20px;
} */


/* css navbar */

.navbar {
    font-family: 'Manrope', sans-serif;
}

.navbar_bgcolor {
    /* background-color: var(--bgcolor) !important; */
    background-color: rgb(248, 248, 253);
}

.navbar_bgcolor a {
    /* color: var(--fontcolorwhite) !important; */
}

.navbar_bgcolor a:hover {
    text-decoration: underline wavy rgb(2, 2, 51) 5px;
}

.navbar-brand {
    font-size: 25px;
    color: rgb(3, 19, 38)
}

a:hover {
    color: rgb(158, 8, 8);
}

.connexion a:hover {
    color: rgb(29, 29, 146)
}


/* fin header */