<!-- Debut header-->
<header>

 <!-- titre en remplacement du Logo  -->

  <nav class="navbar navbar-expand-lg fixed-top navbar_bgcolor ">
    <div class="container-fluid">
      <a class="navbar-brand" href="">DigitMin-CI</a>                    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  

  <!--debut  Contenu du menu  -->

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">La Plateforme </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/apropos">A propos </a>
              </li>
              <li class="nav-item  connexion">
                <a class="nav-link " routerLink="/register">Demande d'Agrément</a>
              </li>
           </ul>
             <div class="d-flex " role="search ">
              <a href="# " class="btn btn-primary me-2 " routerLink='connexion'>Connexion</a>
            </div>
         </div>
    </div>
  </nav>

  <!--debut  Contenu du menu  -->
</header>

 <!-- fin header-->
