/* css navbar */

.navbar {
    font-family: 'Manrope', sans-serif;
}

.navbar_bgcolor {
    background-color: white;
}

.navbar_bgcolor a:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 25px;
    color: rgb(3, 19, 38)
}


/* a:hover {
    color: rgb(158, 8, 8);
} */

.connexion a:hover {
    color: rgb(29, 29, 146)
}


/* fin header */