<div class="container">
  <main class="form-signin w-100 m-auto">
    <form (ngSubmit)="register()">
      <h1 class="h3 mb-3 fw-normal">Inscription</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)] ="userCompte.lastName" placeholder="name@example.com">
        <label for="floatingInput">Nom</label>
      </div><div class="form-floating">
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)] ="userCompte.firstName" placeholder="name@example.com">
        <label for="floatingInput">Prenoms</label>
      </div><div class="form-floating">
        <input type="text" class="form-control" id="contact" name="contact" [(ngModel)] ="userCompte.contact" placeholder="name@example.com">
        <label for="floatingInput">Contacts</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="mail" name="mail" [(ngModel)] ="userCompte.mail" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="passwd" name="passwd"  [(ngModel)] ="userCompte.passwd" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">S'inscrire</button>
    </form>
  </main>

</div>

