<div class= "blockconnect">

<div class="container ">
  <main class="form-signin text-light w-50 m-auto">
    <form (ngSubmit)="register()">
      <h1 class="h3 mb-2 "><i class="bi bi-book-half me-2"></i>Inscription</h1>
      <div class="floating-padding-y">
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)] ="userCompte.lastName" placeholder="nom">
        <label for="floatingInput"></label>
      </div><div class="floating-padding-y">
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)] ="userCompte.firstName" placeholder="Prenoms">
        <label for="floatingInput"></label>
      </div><div class="floating-padding-y">
        <input type="text" class="form-control" id="contact" name="contact" [(ngModel)] ="userCompte.contact" placeholder="contact">
        <label for="floatingInput"></label>
      </div>
      <div class="floating-padding-y">
        <input type="email" class="form-control" id="mail" name="mail" [(ngModel)] ="userCompte.mail" placeholder="Mail">
        <label for="floatingInput"></label>
      </div>
      <div class="floating-padding-y">
        <input type="password" class="form-control" id="passwd" name="passwd"  [(ngModel)] ="userCompte.passwd" placeholder="Mot de Passe">
        <label for="floatingPassword"></label>
      </div>
      <!-- test mis -->
          <div class="col-sm-12">
     <p class="text-center inscription">
     Avez-vous dejà un compte ?  si oui connectez-vous.<a routerLink="/connexion"> Cliquez Ici</a>

     </p>
      </div>

       <!-- test mis -->
      <button class="btn btn-lg btn-default  butt" type="submit">S'inscrire</button>
    </form>
  </main>

</div>

</div>

