<div class="d-flex p-2  justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <!--  dasboard et style-->
  <h1 class="h2">Nouvelle Demande</h1>
    <i class="bi bi-journal-arrow-up " style="font-size: 30px "></i>
</div>

<div class="container align-items-center" style="height:1200px">
  <form class="">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class=" mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="N° Registre de commerce">
            <label for="floatingInput"></label>
        </div>
      </div>

    <div class="col-md-6 col-sm-12">
      <div class="">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Nom de l'Entreprise">
            <label for="floatingInput"></label>
      </div>
    </div>

    <!-- definition d'un tableau  -->
    <table class="table border-secondary table-hover table-responsive">

      <!-- entête du tableau -->
      <thead class="table-dark ">
        <tr>
          <th scope="col">N° </th>
          <th scope="col">Libellé document</th>
          <th scope="col">Nombre d'exemplaire</th>
          <th scope="col">Fichier-joint</th>
        </tr>
      </thead>

      <!-- debut corps de l'entête du tableau -->
      <tbody>
        <tr *ngFor ="let doc of tabdoc;let i = index">

          <td scope="row">{{i + 1}}</td>
            <td style= "width:350px " >{{doc.libelle}}</td>
            <td> <input type="number" value="1" class="form-control" style="width:60px;"/></td>
           
          <td><input type="file"
      name="avatar" class="loadfile"  id="formFile" ></td>
        </tr>
      </tbody>
      <!-- fin corps de l'entête du tableau -->

    </table>

    </div>

   </form>
  <div class="d-flex justify-content-center align-items-center" >
  <button type="button" class="btn btn-success btn-sm p-2 ml-2 btncenter mt-3">Envoyer</button>
  </div>

    

</div>

 
