<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Suivi Demande</h1>
        <i class="bi bi-newspaper" style="font-size: 30px"></i>
      </div>

      <!-- formulaire suivi -->
<br>
<h3 class="text-center bg-info">
	LISTES DES DEMANDES
</h3>

<form>
	<div class="mb-3 row p-2">
		<label for="table-filtering-search " class="col-xs-3 col-sm-auto col-form-label"><i class="bi bi-search me-2"></i>Recherche</label>
		<div class="col-xs-3 col-sm-auto">
			<input id="table-filtering-search" class="form-control" type="text"/>
		</div>
      <div style="margin-left:590px ">
       <button type="button" class="btn btn-success me-2 ml-3">Validé</button>
       <button type="button" class="btn btn-secondary me-2">Rejeté</button>
      <button type="button" class="btn btn-dark me-2">En ours</button>
      </div>

	</div>

</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">N° Document</th>
			<th scope="col">Libelle</th>
			<th scope="col">Nombre exemplaire</th>
			<th scope="col">Fichier</th>
			<th scope="col">Action</th>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let Document of documents; let i = index">



			<td>{{i + 1}}</td>
			<td>{{Document.libelle}}</td>
			<td>{{Document.libelle}}</td>
			<td>{{Document.libelle}}</td>
			<td><button type="button" class="btn btn-info">Details</button></td>

		</tr>
    <br>

	</tbody>
</table>
