.container {
    background-color: rgb(146, 167, 167);
    text-align: center;
    display: flex;
    justify-content: space-between;
}


/* form-sign css */

.form-sign {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}


/* button connecter css */


/* 
.butt:hover {
    width: 200px;
    border-radius: 3px;
    font-family: 'Manrope', sans-serif;
    background-color: dodgerblue;
} */


/*  checkbox button css*/

.checkbox {
    font-family: 'Manrope', sans-serif;
}


/* 
.container {
    margin-top: 150px;
} */


/* connexion css */

.connexion {
    font-size: 16px;
    color: black;
    font-family: 'Manrope', sans-serif;
}


/* checkbox css */

.checkbox {
    font-size: 15px;
    color: black;
    font-family: 'Manrope', sans-serif;
}


/* css button se connecter  */

.butconnect {
    font-size: 15px;
    background-color: blue;
    font-family: 'Manrope', sans-serif;
}

.lock {
    color: black;
}