<div class="container ">
  <main class="form-sign text-light w-50 m-auto">
    <form >
      <h1 class="h3 mb-3">Connexion</h1>

      <div class="floating-padding-y ">
        <input type="email" class="form-control" id="floatingInput" placeholder="Adresse Mail">
        <label for="floatingInput"></label>
      </div>
      <div class="floating-padding-y">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de Passe">
        <label for="floatingPassword"></label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input  class="checkbox text-light" type="checkbox" value="remember-me"> Se Rappeler</label>
      </div>
      <button  class=" btn btn-lg btn-default text-light butt" type="submit">Se connecter</button>
    </form>
  </main>
</div>

