.banner {
    background: url(../../../assets/assets/images/logoMin2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}

h1 {
    text-align: center;
    /* color: var(--fontcolor); */
    color: white;
    padding-top: 150px;
    opacity: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    text-align: center;
    color: var(--fontcolor);
    /* color: white; */
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}