     <app-menu>
</app-menu>
     <!-- debut  banner apropos-->
    <section class="banner">
        <div class="row">
            <div class="col-12">
                <h1 class="titre_banner" >
                    <p>DigitMinCI, la demande d'agrément digitale
                     par Attestation Légale </p>
                </h1>
            </div>
        </div>
    </section>
    <!-- fin  banner apropos -->


     <!-- debut section titres  et definitions  -->
<br><br>
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <p>Conçue avec les différents acteurs de la filière, vous pilotez toutes les demandes d’agrément sur une plateforme intuitive et accessible en ligne. Vous bénéficiez d’un accès permanent et illimité aux données de chaque sous-traitant. Vous
                    réduisez vos risques en gardant le contrôle des demandes </p>
            </div>

            <!--  bloc Le nouvel allié de vos demandes d'agrement-->

            <div class="col-12">
                <h2 class="title">DigitMinCI : Le nouvel allié de vos demandes d'agrement</h2>

                <p>Conçue avec les différents acteurs de la filièrePan du grec ancien « tous » et DA pour Demande d’Agrément, c’est comme ça qu’est née l’idée de nommer notre solution, visant à simplifier la demande d’agrément. PanDA : la demande d’agrément
                    pour tous, vous pilotez toutes les demandes d’agrément sur une plateforme intuitive et accessible en ligne. Vous bénéficiez d’un accès permanent et illimité aux données de chaque sous-traitant. Vous réduisez vos risques en gardant
                    le contrôle des demandes </p>
            </div>


              <!--  bloc comment est né DigitMinCI-->

            <div class="col-12">
                <h2 class="title">Comment et quand est né DigitMinCI ?</h2>

                <p>Conçue avec les différents acteurs de la filièrePan du grec ancien « tous » et DA pour Demande d’Agrément, c’est comme ça qu’est née l’idée de nommer notre solution, visant à simplifier la demande d’agrément. PanDA : la demande d’agrément
                    pour tous, vous pilotez toutes les demandes d’agrément sur une plateforme intuitive et accessible en ligne. Vous bénéficiez d’un accès permanent et illimité aux données de chaque sous-traitant. Vous réduisez vos risques en gardant
                    le contrôle des demandes </p>
            </div>

        </div>
        </div>
<app-footer>
</app-footer>

        <!-- Fin section paragraphe et definition  -->


