
<!-- start Dashbord header -->
<header class="navbar sticky-top digit flex-md-nowrap p-0 " >
  <a class="navbar-brand digit col-md-3 col-lg-2 me-0 px-3 fs-8 text-white bg-red" href="#">DigitMin-CI</a> 
 <button class="navbar-toggler position-absolute " type="button" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
</button> 

    <input id="search" class="form-control form-control-blue w-30  rounded-3 border-2 " type="text" placeholder="Recherche" aria-label="Search" >
      <div class="navbar-nav">
        <div class="nav-item text-nowrap" >
          <a class="nav-link px-3 text-white bold"  href="#" > <i class="bi bi-ethernet me-2 text-white"> </i>Se déconnecter</a>

        </div>
      </div>
</header>

<!-- end start Dashbord header -->

<!--start Dashbord content -->
<div class="container-fluid ">
  <div class="row " >
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" >
      <div class=" pt-3 sidebar-sticky sidebar bg-dark  "  style="height:1000px;80px;color:red">
        <ul class="nav flex-column mt-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:red">
            <i class="bi bi-clipboard2-data-fill me-2"></i>
               Dashboard
            </a>
          </li>
          <li class="nav-item text-white" class="new">
            <a class="nav-link"  href="#"  routerLink="/dashboard/nouvelle-demande" style="color:white">
             <i class="bi bi-newspaper me-2"></i>
              Nouvelle Demande
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="/dashboard/suivi-demande" style="color:white">
              <i class="bi bi-eye me-2"></i>
              Suivi de Demande
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="/dashboard/demandes-encours" style="color:white">
              <i class="bi bi-chat-square-text-fill me-2 "></i>
              Demande en Cours
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" routerLink="/dashboard/demandes-validees"style="color:white">
              <i class="bi bi-file-richtext-fill me-2"></i>
              Demandes Validées
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/dashboard/demandes-rejetees"style="color:white">
              <i class="bi bi-files-alt me-2"></i>
              Demandes rejetées
            </a>
          </li>
        </ul>

        <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>STATISTIQUES</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Nbre demande validées
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Nbre demande validées
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Nbre demande validées
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Year-end sale
            </a>
          </li>
        </ul> -->
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     <router-outlet></router-outlet>
    </main>
  </div>
</div>
